<div data-vars><div data-vars-item>
    <div data-vars-color style="background-color:#000"></div>
    <div>'black': #000</div>
</div><div data-vars-item>
    <div data-vars-color style="background-color:#fff"></div>
    <div>'white': #fff</div>
</div></div>