<div data-vars><div data-vars-item>
    <div data-vars-color style="background-color:#e5e3c0"></div>
    <div>'beryl': #e5e3c0</div>
</div><div data-vars-item>
    <div data-vars-color style="background-color:#000"></div>
    <div>'black': #000</div>
</div><div data-vars-item>
    <div data-vars-color style="background-color:#777"></div>
    <div>'grey-400': #777</div>
</div><div data-vars-item>
    <div data-vars-color style="background-color:#444"></div>
    <div>'grey-700': #444</div>
</div><div data-vars-item>
    <div data-vars-color style="background-color:#9fd18d"></div>
    <div>'moss': #9fd18d</div>
</div><div data-vars-item>
    <div data-vars-color style="background-color:#fcf9d6"></div>
    <div>'pearl': #fcf9d6</div>
</div><div data-vars-item>
    <div data-vars-color style="background-color:#fff"></div>
    <div>'white': #fff</div>
</div><div data-vars-item>
    <div data-vars-color style="background-color:#cfe8c6"></div>
    <div>'zanah': #cfe8c6</div>
</div></div>