.DS_Store
.env
.package-lock.json

!/private/typo3conf/AdditionalConfiguration.php
!/private/typo3conf/AdditionalConfigurationDevelopment.sample-mamp.php
!/private/typo3conf/AdditionalConfigurationProduction.php
!/private/typo3conf/AdditionalConfigurationStaging.php
!/private/typo3conf/LocalConfiguration.php

.idea/
/assets/
/auth.json
/private
/public/
/var/
/vendor/
node_modules/
tmp/
