.DS_Store
.env
.idea
.php-cs-fixer.cache

assets/
node_modules/
private/**/*
public/
tmp/
var/
vendor/

!private/typo3conf
!private/typo3conf/AdditionalConfiguration.php
!private/typo3conf/ContextConfig.*.php
!private/typo3conf/LocalConfiguration.php
!public/.htaccess
