{
  "extends": ["stylelint-config-standard-scss"],
  "customSyntax": "postcss-scss",
  "ignoreFiles": ["**/*.{html,twig,js}"],
  "plugins": ["stylelint-order"],
  "rules": {
    "at-rule-no-unknown": null,
    "comment-empty-line-before": null,
    "order/properties-alphabetical-order": true,
    "declaration-empty-line-before": "never",
    "scss/dollar-variable-empty-line-before": [
      "always",
      {
        "except": ["after-comment"],
        "ignore": ["after-dollar-variable"]
      }
    ]
  },
  "value-keyword-case": [
    "lower",
    {
      "ignoreProperties": ["/^\\$/"]
    }
  ]
}
