@charset "utf-8";
/**
 * stage.scss
 *
 * @package TILDA
 * @version 0.0.2
 * Date: 2022-12-23
 */
@use 'sass:map';
@use 'sass:math';

$self: '.stage';

#{$self} {
    &__top {
        background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 734 179'%3E%3Cpath d='M732 0c-76.4 96.7-188 159.2-310.3 173.8-18.3 2.1-36.6 3.2-55 3.2s-36.7-1.1-55-3.2c-35.5-4.2-70.4-12.4-103.9-24.6C126.3 119.6 54.9 67.9 1.3 0H0c76.5 97.2 188.6 160.1 311.5 174.8 18.3 2.1 36.7 3.2 55.1 3.2s36.8-1.1 55.1-3.2c35.6-4.2 70.5-12.5 104.2-24.7C607.7 120.4 679.4 68.4 733.2 0H732z' fill='" + base64('beryl') + "'/%3E%3C/svg%3E");
        background-position: top center;
        background-repeat: no-repeat;
        background-size: 734px auto;
        padding: {
            bottom: rem-calc(48);
            top: rem-calc(75);
        };

        @include breakpoint(xl) {
            background-image: url("data:image/svg+xml,%3Csvg data-name='Ebene 1' xmlns='http://www.w3.org/2000/svg' viewBox='0 0 1014.45 176.5'%3E%3Cpath d='M1012.41 0c-22.26 12.37-46.25 23.94-71.73 34.56a928.86 928.86 0 0 1-128.31 42.29c-23.01 5.84-46.91 11.07-71.03 15.54-24.42 4.53-49.62 8.38-74.89 11.44-25.66 3.11-51.98 5.49-78.22 7.06-26.7 1.6-53.96 2.42-81.01 2.42s-54.31-.82-81.01-2.42a1299.69 1299.69 0 0 1-78.22-7.06c-25.27-3.07-50.46-6.92-74.89-11.44-24.12-4.47-48.02-9.7-71.03-15.54A930.203 930.203 0 0 1 73.76 34.56C48.3 23.94 24.31 12.37 2.05 0H0c22.73 12.72 47.28 24.6 73.39 35.48 8.56 3.53 17.17 6.92 25.83 10.2v57.82h1V46.06a931.816 931.816 0 0 0 101.61 31.77c23.02 5.85 46.94 11.08 71.09 15.55 24.44 4.53 49.66 8.38 74.95 11.45 1.61.2 3.23.38 4.85.57v58.1h1v-57.99c23.81 2.77 48.14 4.93 72.43 6.38 18.78 1.13 37.83 1.86 56.91 2.2v62.41h1v-62.39c7.72.13 15.45.21 23.16.21 27.08 0 54.36-.82 81.07-2.42 13.66-.82 27.34-1.86 40.93-3.11v61.18h1V108.7c12.21-1.13 24.35-2.41 36.35-3.87 25.29-3.07 50.51-6.92 74.95-11.45 7.13-1.32 14.24-2.72 21.31-4.17v52.92h1V89c16.54-3.41 32.88-7.14 48.78-11.18 25.38-6.37 50.48-13.8 75.22-22.28V99.5h1V55.2a930.407 930.407 0 0 0 52.22-19.72C967.16 24.6 991.71 12.72 1014.44 0h-2.04Z' fill='" + base64('beryl') + "'/%3E%3C/svg%3E");
            background-size: 1014.45px auto;
            height: rem-calc(270);
        }

        .row {
            position: relative;
        }
    }

    &__brand {
        display: table;
        margin: auto;

        @include breakpoint(xl) {
            left: rem-calc(40);
            position: absolute;
            top: rem-calc(24);
            transform: rotate(-9deg);

        }

        svg {
            display: block;
            height: auto;
            width: rem-calc(329);
        }
    }

    &__figure {
        background-position: 0 0;
        background-repeat: no-repeat;
        left: 50%;
        position: absolute;

        @include breakpoint(lg down) {
            display: none;
        }

        &::before {
            content: '';
            display: block;
            width: 100%;
        }

        &--teddy {
            background-image: url("data:image/svg+xml,%3C%3Fxml version='1.0' encoding='UTF-8'%3F%3E%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 41.96 61.87'%3E%3Cpath fill='%23d0e5c9' d='M20.98,32.04c4.21.17,8.31-1.35,11.4-4.21,5.42-5.68,5.42-14.62,0-20.3-3.09-2.87-7.19-4.38-11.4-4.21-4.21-.17-8.31,1.35-11.4,4.21-5.42,5.68-5.42,14.62,0,20.3,3.09,2.87,7.19,4.38,11.4,4.21h0ZM27.61,14.37c.61,0,1.1.49,1.1,1.1,0,.61-.49,1.1-1.1,1.1-.61,0-1.1-.49-1.1-1.1h0c0-.61.49-1.1,1.1-1.1h0,0ZM14.35,14.37c.61,0,1.1.49,1.1,1.1,0,.61-.49,1.1-1.1,1.1-.61,0-1.1-.49-1.1-1.1h0c0-.61.49-1.1,1.1-1.1h0,0ZM13.25,20.44c.61,0,1.1.49,1.1,1.1,0,2.46,2.39,4.51,5.52,4.9v-3.5c-.12-.06-.23-.12-.33-.2l-1.88-1.34c-.7-.51-1.11-1.32-1.1-2.18-.03-1.43,1.11-2.61,2.54-2.65h3.75c1.43.03,2.57,1.21,2.55,2.64,0,.86-.4,1.67-1.1,2.18l-1.88,1.34c-.11.08-.22.14-.33.2v3.51c3.13-.4,5.52-2.44,5.52-4.9,0-.61.49-1.11,1.1-1.11s1.11.49,1.11,1.11c0,3.96-3.96,7.18-8.84,7.18s-8.84-3.22-8.84-7.18c0-.61.49-1.1,1.1-1.1h0Z'/%3E%3Cpath fill='%23d0e5c9' d='M28.93,32.73c2.62,3.29,4.09,7.34,4.19,11.54,2.13.32,4.07,1.44,5.41,3.13,1.88-.43,3.26-2.02,3.43-3.94l-.1-1.42c-.48-5.27-3.79-9.86-8.64-11.98-1.28,1.11-2.73,2.01-4.29,2.67Z'/%3E%3Cpath fill='%23d0e5c9' d='M37.02,10.29c2.63-1.54,3.52-4.93,1.98-7.56s-4.93-3.52-7.56-1.98c-.85.5-1.55,1.22-2.03,2.08,1.68.77,3.2,1.82,4.52,3.11,1.28,1.26,2.32,2.73,3.1,4.34Z'/%3E%3Cpath fill='%23d0e5c9' d='M12.55,2.84C11.06.17,7.7-.79,5.03.7c-2.67,1.48-3.63,4.85-2.14,7.51.48.87,1.19,1.58,2.04,2.08.77-1.62,1.82-3.09,3.09-4.34,1.32-1.29,2.85-2.34,4.52-3.11Z'/%3E%3Cellipse fill='%23d0e5c9' cx='32.04' cy='54.14' rx='6.63' ry='7.73'/%3E%3Cpath fill='%23d0e5c9' d='M30.91,44.28c-.07-3.98-1.58-7.81-4.25-10.76-3.72.97-7.62.98-11.34,0-2.66,2.96-4.17,6.78-4.25,10.76,4.34.63,7.71,4.81,7.71,9.86,0,1.63-.36,3.25-1.06,4.72,2.05,1.07,4.49,1.07,6.54,0-.7-1.47-1.07-3.09-1.06-4.72,0-5.05,3.37-9.23,7.71-9.86h0Z'/%3E%3Cellipse fill='%23d0e5c9' cx='9.94' cy='54.14' rx='6.63' ry='7.73'/%3E%3Cpath fill='%23d0e5c9' d='M8.86,44.27c.1-4.2,1.57-8.25,4.19-11.54-1.57-.66-3.02-1.56-4.31-2.68C3.89,32.18.58,36.77.1,42.04l-.1,1.42c.16,1.93,1.56,3.53,3.45,3.95,1.34-1.69,3.28-2.81,5.41-3.14Z'/%3E%3C/svg%3E%0A");
            margin-left: rem-calc(-180);
            top: rem-calc(84);
            transform: rotate(13deg);
            width: rem-calc(42);

            &::before {
                padding-bottom: math.percentage(61.87 / 41.96);
            }
        }

        &--wagon {
            background-image: url("data:image/svg+xml,%3C%3Fxml version='1.0' encoding='UTF-8'%3F%3E%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 55.78 64.11'%3E%3Cpath fill='%23d0e5c9' d='M55.73,23.08c-.05-.14-.13-.27-.23-.38l-.08-.07.08-.08c.1-.11.18-.24.22-.38.04-.14.05-.29.03-.44-.04-.22-.16-.41-.33-.55-.17-.14-.38-.22-.6-.21h-.04c-.18,0-.36.06-.51.16-.21-2.67-.89-5.29-2-7.72.18.01.36-.03.52-.11l.03-.02c.19-.1.34-.27.42-.48.08-.2.09-.43.02-.64-.05-.14-.13-.27-.24-.37-.11-.1-.24-.18-.38-.22l-.1-.03.03-.11c.04-.14.05-.29.02-.44-.03-.15-.09-.28-.18-.4-.14-.17-.33-.29-.54-.34-.21-.05-.44-.02-.63.09l-.03.02c-.16.09-.29.22-.38.37-1.96-3.1-4.62-5.7-7.78-7.56.15-.09.28-.23.36-.39l.02-.04c.1-.2.13-.42.07-.63-.05-.21-.17-.4-.35-.53-.12-.09-.26-.14-.41-.17-.15-.02-.3-.01-.44.03l-.1.04-.03-.1c-.05-.14-.13-.27-.24-.37-.11-.1-.23-.18-.38-.23-.21-.06-.44-.05-.64.04-.2.08-.37.24-.47.44l-.02.03c-.08.16-.11.34-.1.52C37.5.62,34.45,0,31.38,0,30.63,0,29.9.04,29.17.11v23.67L40.44,2.24l.49,1.35c.05.13.19.2.33.16l1.32-.39-13.41,20.42,21.5-12.61-.36,1.37c-.04.14.04.28.17.32l1.44.48-22.75,10.44,24.7-2.25-.88.96c-.1.1-.1.26,0,.36l.89.92H6.44c-.03,13.28,10.71,24.06,23.99,24.09,13.13.03,23.85-10.48,24.08-23.6.1.03.2.05.31.05h.04c.22,0,.43-.08.6-.23.17-.14.28-.34.31-.56.02-.15,0-.3-.04-.44M12.12,26.35c0,.21-.09.41-.24.55l-.9.85c-.08.07-.2.07-.28,0l-.9-.85c-.15-.14-.24-.34-.24-.55v-.03c0-.17.06-.33.17-.46.11-.13.26-.22.43-.25.11-.02.23,0,.34.02.11.03.21.09.29.18l.06.06.06-.06c.08-.08.18-.14.29-.18.11-.03.23-.04.34-.02.17.03.32.12.43.25.11.13.17.29.17.46v.03ZM31.38,26.32c0-.17.06-.33.17-.46.11-.13.26-.22.43-.25.11-.02.23,0,.34.02.11.03.21.09.29.18l.06.06.06-.06c.08-.08.18-.14.29-.18.11-.03.23-.04.34-.02.17.03.32.12.43.25.11.13.17.29.17.46v.03c0,.21-.09.41-.24.55l-.9.85c-.08.07-.2.07-.28,0l-.9-.85c-.15-.14-.24-.34-.24-.55v-.03ZM27.01,26.32c0-.17.06-.33.17-.46.11-.13.26-.22.43-.25.11-.02.23,0,.34.02.11.03.21.09.29.18l.06.06.06-.06c.08-.08.18-.14.29-.18.11-.03.23-.04.34-.02.17.03.32.12.43.25.11.13.17.29.17.46v.03c0,.21-.09.41-.24.55l-.9.85c-.08.07-.2.07-.28,0l-.9-.85c-.15-.14-.24-.34-.24-.55v-.03ZM16.48,26.35c0,.21-.09.41-.24.55l-.9.85c-.08.07-.2.07-.28,0l-.9-.85c-.15-.14-.24-.34-.24-.55v-.03c0-.17.06-.33.17-.46.11-.13.26-.22.43-.25.11-.02.23,0,.34.02.11.03.21.09.29.18l.06.06.06-.06c.08-.08.18-.14.29-.18.11-.03.23-.04.34-.02.17.03.32.12.43.25.11.13.17.29.17.46v.03ZM20.85,26.35c0,.21-.09.41-.24.55l-.9.85c-.08.07-.2.07-.28,0l-.9-.85c-.15-.14-.24-.34-.24-.55v-.03c0-.17.06-.33.17-.46.11-.13.26-.22.43-.25.11-.02.23,0,.34.02.11.03.21.09.29.18l.06.06.06-.06c.08-.08.18-.14.29-.18.11-.03.23-.04.34-.02.17.03.32.12.43.25.11.13.17.29.17.46v.03ZM23.93,27.8c-.05,0-.1-.02-.14-.06l-.9-.85c-.15-.14-.24-.34-.24-.55v-.03c0-.17.06-.33.17-.46.11-.13.26-.22.43-.25.11-.02.23,0,.34.02.11.03.21.09.29.18l.06.06.06-.06c.08-.08.18-.14.29-.18.11-.03.23-.04.34-.02.17.03.32.12.43.25.11.13.17.29.17.46v.03c0,.21-.09.41-.24.55l-.9.85s-.09.06-.14.06M36.89,36.02c0,1.04-.43,2.03-1.2,2.73l-4.5,4.23c-.39.37-1.01.37-1.4,0l-4.5-4.23c-.77-.7-1.2-1.69-1.2-2.73v-.15c0-.84.3-1.66.85-2.3.54-.65,1.3-1.08,2.13-1.23.56-.08,1.13-.04,1.68.12.55.17,1.05.47,1.45.88l.3.3.28-.3c.41-.4.91-.7,1.45-.88.55-.17,1.13-.21,1.7-.12.83.15,1.58.58,2.13,1.23.55.64.85,1.46.85,2.3v.15ZM38.32,26.35c0,.21-.09.41-.24.55l-.9.85c-.08.07-.2.07-.28,0l-.9-.85c-.15-.14-.24-.34-.24-.55v-.03c0-.17.06-.33.17-.46.11-.13.26-.22.43-.25.11-.02.23,0,.34.02.11.03.21.09.29.18l.06.06.06-.06c.08-.08.18-.14.29-.18.11-.03.23-.04.34-.02.17.03.32.12.43.25.11.13.17.29.17.46v.03ZM42.69,26.35c0,.21-.09.41-.24.55l-.9.85c-.08.07-.2.07-.28,0l-.9-.85c-.15-.14-.24-.34-.24-.55v-.03c0-.17.06-.33.17-.46.11-.13.26-.22.43-.25.11-.02.23,0,.34.02.11.03.21.09.29.18l.06.06.06-.06c.08-.08.18-.14.29-.18.11-.03.23-.04.34-.02.17.03.32.12.43.25.11.13.17.29.17.46v.03ZM47.05,26.35c0,.21-.09.41-.24.55l-.9.85c-.08.07-.2.07-.28,0l-.9-.85c-.15-.14-.24-.34-.24-.55v-.03c0-.17.06-.33.17-.46.11-.13.26-.22.43-.25.11-.02.23,0,.34.02.11.03.21.09.29.18l.06.06.06-.06c.08-.08.18-.14.29-.18.11-.03.23-.04.34-.02.17.03.32.12.43.25.11.13.17.29.17.46v.03ZM51.42,26.35c0,.21-.09.41-.24.55l-.9.85c-.08.07-.2.07-.28,0l-.9-.85c-.15-.14-.24-.34-.24-.55v-.03c0-.17.06-.33.17-.46.11-.13.26-.22.43-.25.11-.02.23,0,.34.02.11.03.21.09.29.18l.06.06.06-.06c.08-.08.18-.14.29-.18.11-.03.23-.04.34-.02.17.03.32.12.43.25.11.13.17.29.17.46v.03Z'/%3E%3Cpath fill='%23d0e5c9' d='M21.46,52.16c-3.3,0-5.97,2.67-5.97,5.97s2.67,5.97,5.97,5.97,5.97-2.67,5.97-5.97-2.67-5.97-5.97-5.97h0M23.55,59.79c0,.24-.2.43-.44.44l-2.72.09c-.46.02-.9-.15-1.22-.48l-.05-.05c-.26-.26-.42-.61-.45-.98-.03-.37.07-.74.28-1.04.15-.2.34-.36.56-.48.22-.12.47-.18.72-.18h.19v-.18c0-.25.06-.5.17-.72.12-.22.29-.42.49-.57.3-.21.67-.31,1.04-.28.37.03.72.19.98.45l.05.05c.32.32.5.77.47,1.22l-.09,2.71Z'/%3E%3Cpath fill='%23d0e5c9' d='M39.43,52.16c-3.3,0-5.97,2.67-5.97,5.97s2.67,5.97,5.97,5.97,5.97-2.67,5.97-5.97-2.67-5.97-5.97-5.97h0M41.76,59.79l-.05.05c-.32.32-.77.5-1.22.48l-2.71-.09c-.24,0-.43-.2-.44-.44l-.09-2.71c-.02-.46.15-.9.47-1.22l.05-.05c.26-.26.61-.42.98-.45.37-.03.74.07,1.04.28.2.15.37.34.48.56.12.22.18.47.18.72v.19h.18c.25,0,.5.06.72.17.22.12.42.29.57.49.21.3.31.67.28,1.04-.03.37-.19.72-.45.98'/%3E%3Cpath fill='%23d0e5c9' d='M38.45,48.11c-1.91.55-3.88.88-5.87.97l-1.89,1.33-1.89-1.33c-1.99-.09-3.96-.41-5.87-.97l5.51,3.88-2.11,1.48c.6.63,1.08,1.37,1.4,2.18l2.96-2.08,2.58,1.82c.36-.79.86-1.51,1.49-2.12l-1.82-1.28,5.51-3.88Z'/%3E%3Cpath fill='%23d0e5c9' d='M5.1,17.91c-.22-1.4-1.53-2.35-2.93-2.13S-.19,17.31.03,18.71s1.53,2.35,2.93,2.13c.53-.08,1.03-.33,1.41-.72,1.33.42,2.19,1.71,2.07,3.1h2.33c.11-2.4-1.39-4.58-3.67-5.32M3.5,19.06c0,.11-.09.2-.2.2l-1.24.04c-.21,0-.41-.07-.56-.22l-.02-.02c-.12-.12-.19-.28-.21-.45-.01-.17.03-.34.13-.47.07-.09.15-.17.25-.22.1-.05.21-.08.33-.08h.09v-.08c0-.11.03-.23.08-.33.05-.1.13-.19.22-.26.14-.1.31-.14.48-.13.17.01.33.09.45.21l.02.02c.15.15.23.35.22.56l-.04,1.24Z'/%3E%3C/svg%3E");
            margin-left: rem-calc(-52);
            top: rem-calc(102);
            transform: rotate(-16deg);
            width: rem-calc(55);

            &::before {
                padding-bottom: math.percentage(64.11 / 55.78);
            }
        }

        &--bottle {
            background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 56.97 67.37'%3E%3Cpath fill='%23d0e5c9' d='m15.72 30.5-2.14 4.28c-.12.23-.18.49-.18.75v1.68h8.38a1.675 1.675 0 0 1 .05 3.35H13.4v3.35h8.38c.93.01 1.67.77 1.65 1.7-.01.91-.75 1.64-1.65 1.65H13.4v3.35h8.38a1.675 1.675 0 0 1 .05 3.35H13.4v3.35h8.38a1.675 1.675 0 0 1 .05 3.35H13.4v1.68c0 2.78 2.25 5.02 5.03 5.03h20.11c2.77 0 5.02-2.25 5.03-5.03V35.53c0-.26-.06-.51-.18-.75l-2.14-4.28H15.72ZM40.21 20.45H16.75a3.35 3.35 0 0 0-3.35 3.35v1.68c0 .93.75 1.68 1.67 1.68h26.81c.93 0 1.68-.75 1.68-1.67v-1.68c0-1.85-1.5-3.35-3.35-3.35ZM0 45.58c.01 5.82 4.3 10.74 10.06 11.56v-3.35c-4.53-.92-7.46-5.35-6.54-9.88a8.39 8.39 0 0 1 6.54-6.54v-1.84c.01-.52.1-1.04.27-1.53C4.45 34.69.02 39.66 0 45.58ZM46.65 33.99c.17.49.26 1.01.27 1.53v1.84c4.53.93 7.46 5.35 6.53 9.89a8.367 8.367 0 0 1-6.53 6.53v3.35c6.38-.89 10.83-6.79 9.94-13.17-.74-5.26-4.93-9.36-10.21-9.98ZM28.49 0a3.35 3.35 0 0 0-3.35 3.35v6.97c-4.01 0-7.45 2.84-8.22 6.77h23.14a8.376 8.376 0 0 0-8.22-6.77V3.35c0-1.85-1.5-3.35-3.35-3.35Z'/%3E%3C/svg%3E%0A");
            margin-left: rem-calc(94);
            top: rem-calc(84);
            transform: rotate(22deg);
            width: rem-calc(58);

            &::before {
                padding-bottom: math.percentage(67.37 / 56.97);
            }
        }

        &--pacifier {
            background-image: url("data:image/svg+xml,%3C%3Fxml version='1.0' encoding='UTF-8'%3F%3E%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 45.69 63.85'%3E%3Cpath fill='%23d0e5c9' d='M11.91,19.78c-1-6.04,3.07-11.74,9.11-12.75,6.04-1,11.74,3.07,12.75,9.11.1.6.15,1.21.15,1.82,0,.61-.05,1.21-.15,1.81,1.91.42,3.78.99,5.6,1.71.06.02.12.05.18.07,2.38-9.23-3.17-18.64-12.4-21.02C17.92-1.83,8.51,3.72,6.13,12.95c-.73,2.82-.73,5.79,0,8.61l.18-.07c1.82-.72,3.69-1.29,5.6-1.71h0Z'/%3E%3Cpath fill='%23d0e5c9' d='M11.79,41c1.58-1.97,2.45-4.42,2.47-6.95v-.1c0-1.21.47-2.37,1.33-3.22h0c.85-.86,2.01-1.33,3.22-1.33h8.27c2.51,0,4.54,2.04,4.55,4.55v.46c.02,2.39.83,4.71,2.29,6.6,2.31-.54,4.53-1.37,6.64-2.46,4.25-2.3,5.14-4.84,5.14-6.57,0-3-2.65-5.71-7.45-7.65-9.95-3.57-20.83-3.57-30.79,0-2.02.74-3.86,1.88-5.44,3.34C.78,28.76.06,30.31,0,31.96,0,33.69.9,36.24,5.16,38.54c2.1,1.09,4.33,1.91,6.63,2.45Z'/%3E%3Cpath fill='%23d0e5c9' d='M23.02,63.85c6.78-.12,12.18-5.71,12.07-12.49,0-.01,0-.02,0-.03-.07-2.85-1.12-5.59-2.99-7.74-2.24-2.54-3.49-5.8-3.51-9.18v-.46c0-.83-.67-1.5-1.5-1.5,0,0,0,0,0,0h-8.27c-.83,0-1.5.67-1.5,1.5,0,0,0,0,0,0v.1c-.02,3.5-1.32,6.86-3.65,9.47-4.47,5.08-3.98,12.82,1.1,17.28,2.28,2.01,5.22,3.09,8.26,3.05h0Z'/%3E%3C/svg%3E%0A");
            margin-left: rem-calc(245);
            top: rem-calc(62);
            transform: rotate(-40deg);
            width: rem-calc(46);

            &::before {
                padding-bottom: math.percentage(63.85 / 45.69);
            }
        }

        &--dices {
            background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 69.2 72.68'%3E%3Cpath fill='%23d0e5c9' d='m31.17 21.26 4.17-1.58-4.31-4.88.14 6.46Z'/%3E%3Cpath fill='%23d0e5c9' d='M52.14 26 42.52 1.58a2.674 2.674 0 0 0-3.3-1.44L14.79 9.77a2.535 2.535 0 0 0-1.44 3.29v.01l9.77 24.42a2.535 2.535 0 0 0 3.29 1.44h.01l24.28-9.62a2.535 2.535 0 0 0 1.44-3.29v-.01Zm-10.63-2.73c-.16.31-.41.56-.72.72a.83.83 0 0 1-.57.14c-.29 0-.43 0-.57-.14s-.43-.29-.57-.43l-.57-.58-1.29-1.44-5.74 2.15v2.01c.02.58-.02 1.16-.14 1.72-.16.31-.41.56-.72.72-.37.14-.78.14-1.15 0-.31-.16-.56-.41-.72-.72-.14-.14-.14-.29-.14-.58-.14-.29-.14-.58-.29-.86V14.35c-.02-.39.03-.78.14-1.15l.43-.86c.58-.45 1.28-.7 2.01-.72a2 2 0 0 1 .86.29c.3.11.55.31.72.57l.86.86 7.18 7.61c.41.37.75.8 1.01 1.29.14.32.14.69 0 1.01ZM18.39 57.75c-.75-.41-1.59-.61-2.44-.58h-3.16v4.31h3.3c2.01 0 3.02-.72 3.02-2.15.11-.62-.17-1.25-.71-1.58ZM17.24 54.87c.45-.12.82-.44 1.01-.86.16-.31.26-.65.29-1.01.01-.6-.32-1.16-.86-1.44-.78-.29-1.61-.44-2.44-.43H12.8v4.02h2.73a7.2 7.2 0 0 0 1.72-.29Z'/%3E%3Cpath fill='%23d0e5c9' d='M28.73 41.37H2.59A2.565 2.565 0 0 0 0 43.93v26.16c0 1.42 1.14 2.58 2.56 2.59h26.16c1.42 0 2.58-1.14 2.59-2.56V43.95c0-1.42-1.14-2.58-2.56-2.59h-.03Zm-7.18 20.4c-.43.63-1.03 1.12-1.72 1.44-.48.28-1.03.42-1.58.43-.72 0-1.29.14-2.01.14h-4.6c-.58.14-1.01 0-1.44-.72-.29-.42-.44-.92-.43-1.44v-11.2c-.01-.52.14-1.02.43-1.44.42-.29.92-.44 1.44-.43h5.03c.63-.02 1.25.02 1.87.14.51.1 1 .3 1.44.57l.86.86c.25.35.44.74.58 1.15.12.42.17.86.14 1.29 0 1.47-.92 2.78-2.3 3.3 1.76.27 3.06 1.81 3.02 3.59-.02.82-.27 1.62-.72 2.3ZM67.37 41.23l-25.28-6.75c-1.39-.34-2.79.49-3.16 1.87l-6.75 25.28c-.36 1.38.45 2.79 1.83 3.15h.04l25.28 6.75c1.38.36 2.79-.45 3.15-1.83v-.04l6.61-25.28a2.53 2.53 0 0 0-1.72-3.15Zm-9.34 9.91c-.06.32-.27.59-.57.72-.3.19-.66.24-1.01.14-.3 0-.58-.16-.72-.43-.21-.36-.35-.74-.43-1.15-.14-.73-.43-1.41-.86-2.01-.46-.5-1.06-.85-1.72-1.01-1.12-.4-2.38-.18-3.3.57a6.617 6.617 0 0 0-2.15 3.74c-.32.92-.41 1.91-.29 2.87.07.74.37 1.45.86 2.01.55.43 1.19.72 1.87.86 1.55.52 3.26-.07 4.17-1.44.14-.43.43-.57.72-.86.3-.19.67-.24 1.01-.14.32.06.59.27.72.57.19.3.24.67.14 1.01-.15.52-.39 1-.72 1.44-.37.54-.86.98-1.44 1.29-.65.43-1.38.73-2.15.86-.92.05-1.84-.05-2.73-.29-.7-.15-1.37-.39-2.01-.72-.58-.3-1.12-.69-1.58-1.15-.51-.43-.9-.97-1.15-1.58-.21-.56-.36-1.13-.43-1.72a9.03 9.03 0 0 1-.14-2.01c.02-.73.12-1.45.29-2.15a9.61 9.61 0 0 1 1.29-3.02c.57-.81 1.31-1.5 2.15-2.01.81-.44 1.68-.73 2.59-.86.97-.05 1.93.05 2.87.29 1.05.27 2.03.76 2.87 1.44.8.66 1.35 1.57 1.58 2.59.37.65.47 1.43.28 2.15Z'/%3E%3C/svg%3E%0A");
            margin-left: rem-calc(348);
            top: rem-calc(20);
            transform: rotate(24deg);
            width: rem-calc(70);

            &::before {
                padding-bottom: math.percentage(72.68 / 69.2);
            }
        }
    }

    &__wrap {
        background-color: color('pearl');
        margin: 0 auto;
        max-width: rem-calc(1440);
        padding-bottom: calc(78 / 46) * 1em;
        position: relative;
        z-index: 1;

        &::before {
            background-color: color('white');
            content: '';
            display: block;
            left: 0;
            padding-bottom: math.percentage(calc(236 / 1440));
            position: absolute;
            right: 0;
            top: 0;
            width: 100%;
            z-index: -1;

            #{$self}--small & {
                padding-bottom: math.percentage(calc(194 / 1440));
            }
        }
    }

    &__row {
        $position: math.percentage(calc(100 / 16 / unitless-calc($global-width)));
        position: relative;
        z-index: 0;

        &::before,
        &::after {
            background-color: color('moss');
            content: '';
            position: absolute;
            width: rem-calc(2);
        }

        &::before {
            height: rem-calc(350);
            left: $position;
            top: 0;
            z-index: -1;

            @include breakpoint(lg) {
                bottom: rem-calc(40);
                top: auto;
            }
        }

        &::after {
            height: rem-calc(225);
            right: $position;
            top: rem-calc(-105);
            z-index: 10;
        }
    }

    &__col {
        &--shrink {
            align-self: flex-end;
            flex: 0 1 grid-column(2)
        }

        &--figure {
            @include flex-grid-size(10);

            #{$self}--small & {
                margin-bottom: calc(var(--tl-font-size-h1) * 1.5);
            }
        }
    }

    &__service {
        margin: rem-calc(30 0);
        position: relative;
        width: calc(300% + #{rem-calc(map.get($grid-column-gutter, 'xs')) * 2});
        z-index: 10;

        #{$self}--small & {
            margin: rem-calc(60 0 0);
        }

        @include breakpoint(xs down) {
            width: calc(350% + #{rem-calc(map.get($grid-column-gutter, 'xs')) * 2.5});
        }

        @include breakpoint(md) {
            width: calc(200% + #{rem-calc(map.get($grid-column-gutter, 'xs')) * 1.5});
        }

        @include breakpoint(xl) {
            width: calc(150% + #{rem-calc(map.get($grid-column-gutter, 'xs'))});
        }

        li {
            @include letter-spacing(200);
            background-color: color('white');
            border-radius: 2em;
            display: block;
            font-weight: bold;
            padding: rem-calc(8 12 8 22);
            text-transform: uppercase;

            &:not(:last-child) {
                margin-bottom: rem-calc(16);
            }

            &::before {
                content: none;
            }
        }
    }

    &__image {
        height: 100%;
        margin: 0;
        object-fit: cover;
    }

    &__quote {
        @include flex-grid-size(8);
        color: color('moss');
        line-height: calc(64 / 46);
        margin-bottom: calc(64 / 46) * .75em;
        margin-top: calc(64 / 46) * .6em;
        padding-bottom: .5em;
        position: relative;
        text-align: center;

        &::before,
        &::after {
            background-image: none;
            content: '[…]\00A0';
            display: inline-block;
            font-size: .8em;
            height: auto;
            opacity: .2;
            vertical-align: baseline;
            width: auto;
            margin: {
                bottom: 0;
                left: -1.4em;
            }
        }

        &::after {
            margin: {
                left: 0;
                right: -1.4em;
            }
        }

        cite {
            bottom: 0;
            opacity: .8;
            position: absolute;
            right: 0;
        }
    }
}
