<!--
 * banner.twig
 *
 * @package TILDA
 * @version 0.1.0
 * Date: 2023-01-08
-->
<div class="banner align-center row">
    <div class="lg-8 md-10 xs-12 column">
        <div class="banner__content">
            <h3 class="banner__header h2">
                Ich freue mich über Ihr Feedback
            </h3>
            <p class="text--lead">Betreuungsangebote in der Schwangerschaft und nach der Geburt des Kindes.</p>
            <a href="" class="button">kontakt@hebamme-ines.de</a>
        </div>
    </div>
</div>
