<!--
 * frame.twig
 *
 * @package TILDA
 * @version 0.1.0
 * Date: 2023-02-05
-->
<div class="frame frame-space--before-none frame-space--after-full">
    {{ block('header') }}
    {{ block('content') }}
</div>
