@charset "utf-8";
/**
 * variables.scss
 *
 * @package TILDA
 * @version 0.0.1
 */

/**
 * Colors
 * https://chir.ag/projects/name-that-color/
 */

/* @color */
$colors: (
    'beryl': #e5e3c0,
    'black': #000,
    'grey-300': #ddd,
    'grey-400': #777,
    'grey-700': #444,
    'moss': #9fd18d,
    'pearl': #fcf9d6,
    'white': #fff,
    'zanah': #cfe8c6
);
/* /@color */

/**
 * Breakpoints
 */
$points: (
    xs: 0,
    sm: 576,
    md: 768,
    lg: 992,
    xl: 1200,
    xxl: 1400
);

$grid-column-gutter: (
    xs: 40
) !default;

$breakpoint-classes: map-keys($points) !default;

// merge default breakpoints
$breakpoints: map-merge($points, (
    small: map-get($points, xs),
    medium: map-get($points, md),
    large: map-get($points, lg),
)) !default;

$grid-column-alias: false !default;
$-zf-zero-breakpoint: xs !default;

/**
 * Specs
 */
$body-font-color: color('grey-700') !default;

$body-font-family: Muli, 'Helvetica Neue', Helvetica, Roboto, Arial, sans-serif !default;
$hero-font-family: FiraSans, #{$body-font-family};

$global-width: rem-calc(1200);
$global-weight-normal: normal !default;
$global-weight-bold: 700 !default;
$global-radius: 0 !default;

$paragraph-lineheight: rem-calc(20) !default;
$paragraph-margin-bottom: rem-calc(20) !default;
