<!--
 * button.twig
 *
 * @package TILDA
 * @version 0.1.0
 * Date: 2023-01-09
-->
<a href="" class="button">a.button</a>
<button class="button">button.button</button>
<button class="button--light button">button.button--light</button>
<button class="button" disabled>button.button[disabled]</button>
