<!--
 * ce-intext.twig
 *
 * @package TILDA
 * @version 0.1.0
 * Date: 2023-02-05
-->
{% extends "../../frame/frame.twig" %}

{% block content %}
<div class="ce-textpic ce-left ce-intext">
    <div class="ce-gallery" data-ce-columns="1" data-ce-images="1">
        <div class="ce-row">
            <div class="ce-column">
                <figure class="image">
                    <img src="http://via.placeholder.com/470x560" alt="" class="image-embed-item">
                    <figcaption class="image-caption">
                        Lorem ipsum dolor sit amet, consectetur adipisicing elit.
                    </figcaption>
                </figure>
            </div>
        </div>
    </div>
    <div class="ce-bodytext">
        <header class="frame__header">
            <h2 class="">Lorem ipsum dolor sit amet.</h2>
        </header>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
    </div>
</div>
{% endblock %}
