@charset "utf-8";
/**
 * layout.scss
 *
 * @package TILDA
 * @version 0.0.1
 */
@use 'sass:map';

:root {
    @each $name, $value in $colors {
        --tl-color-#{$name}: #{$value};
    }

    @each $name, $style in $header-styles {
        @include breakpoint($name) {
            @each $key, $value in $style {
                --tl-font-size-#{$key}: #{rem-calc(map.get($value, 'font-size'))};
            }
        }
    }
}

body, html {
    height: 100%;
}

.site {
    display: flex;
    flex-direction: column;
    min-height: 100%;
    overflow: hidden;

    &__content {
        flex: 1 1 auto;
        max-width: 100%;
        overflow: hidden;
    }
}
