<!--
 * navmain.twig
 *
 * @package TILDA
 * @version 0.0.2
 * Date: 2022-12-09
-->
<div class="navmain align-middle">
    <ul class="navmain__list column">
        <li class="navmain__item">
            <a href="" class="navmain__link--active navmain__link">Start</a>
        </li>
        <li class="navmain__item--parent navmain__item">
            <a href="" class="navmain__link">Angebot</a>
            <ul class="navmain__sub">
                <li class="navmain__item">
                    <a href="" class="navmain__link--sub navmain__link">Schwangerschaft</a>
                </li>
                <li class="navmain__item">
                    <a href="" class="navmain__link--sub navmain__link">Wochenbett</a>
                </li>
            </ul>
        </li>
        <li class="navmain__item">
            <a href="" class="navmain__link">Feedback</a>
        </li>
        <li class="navmain__item">
            <a href="" class="navmain__link">Kontakt</a>
        </li>
    </ul>
    <ul class="navmain__call column">
        <li>0162 - 6177776</li>
        <li>030 - 94380916</li>
    </ul>
</div>
