<!--
 * trigger.twig
 *
 * @package TILDA
 * @version 0.0.2
 * Date: 2022-12-09
-->
<div class="trigger">
    <button class="trigger__button">
        <i class="trigger__icon">
            <i></i>
        </i>
        <span class="trigger__label">
            Menü
        </span>
    </button>
</div>
