<!--
 * footer.twig
 *
 * @package TILDA
 * @version 0.0.2
 * Date: 2022-12-09
-->
<div class="footer">
    <div class="footer__row row">
        <div class="footer__col column">
            <ul class="footer__list--nav footer__list">
                <li>
                    <a href="" class="footer__link--active footer__link">Impressum</a>
                </li>
                <li>
                    <a href="" class="footer__link">Datenschutz</a>
                </li>
            </ul>
        </div>
        <div class="footer__col column">
            <ul class="footer__list--call footer__list">
                <li>
                    <a href="">kontakt@hebamme-ines.de</a>
                </li>
                <li>
                    13129 Berlin
                </li>
            </ul>
        </div>
    </div>
</div>
