<html
    xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers"
    data-namespace-typo3-fluid="true"
>
    <f:layout name="Default" />

    <f:section name="Main">
        <f:if condition="{menu}">
            <div class="teaser">
                <div class="teaser__row row">
                    <f:for each="{menu}" as="page">
                        <div class="teaser__col column xs-12 lg-4">
                            <f:if condition="{page.media.0}">
                                <f:variable name="background" value="background-image:url('{f:uri.image(src: page.media.0.uid, treatIdAsReference: 1, maxWidth: 600, maxHeight: 600)}')" />
                            </f:if>
                            <a
                                href="{page.link}"
                                {f:if(condition: page.target, then: 'target="{page.target}"')}
                                {f:if(condition: page.media.0, then: 'style="{background}"')}
                                title="{page.title}"
                                class="teaser__item"
                            >
                                <span class="teaser__title">
                                    {page.title}
                                </span>
                            </a>
                        </div>
                    </f:for>
                </div>
            </div>
        </f:if>
    </f:section>
</html>
