<!doctype html>
<html lang="{{ doc.lang ?: 'en' }}">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{{ doc.title }}</title>

    <link rel="stylesheet" href="/Resources/Public/Css/screen.css">
</head>
<body>
<div class="site">
    {% include '../../component/header/header.twig' %}

    <div class="site__content">
        {% block main %}{% endblock %}
    </div>

    {% include '../../component/footer/footer.twig' %}
</div>
<script src="/Resources/Public/Js/script.js" async></script>
</body>
</html>
